<br/>
<button class="btn btn-primary" (click)="requestInsights()">Get my Insights!</button>
<br/>
<br/>
<div class="alert alert-info" [class.d-none]="!getIsLoading()" role="alert">
  <fa name="cog" animation="spin"></fa> The machine is thinking. Be patient puny human.
</div>
<div class="card-columns">

  <div class="card border border-primary" *ngFor="let insight of Data">
    <div class="card-body">
      <h5 class="card-title">  <fa name="exclamation-triangle" class="text-warning" ></fa>New Insight for {{insight.keyValue}}</h5>
      <p class="card-text">{{insight.insightMessage}}</p>
      <p class="card-text">
        <small class="text-muted">Insight Type: {{insight.insightType}} </small>
      </p>
    </div>
  </div>
</div>
