<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <fa name="cog" animation="spin"></fa>
    Predictive Risk Analytics Tool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item " [routerLink]="['/']" routerLinkActive="active">
        <a class="nav-link">  <fa name="home"></fa>Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item"  [routerLink]="['/insights']" routerLinkActive="active">
        <span class="nav-link" >  <fa name="play"></fa>Insights</span>
      </li>
      <li class="nav-item"  [routerLink]="['/data']" routerLinkActive="active">
        <span class="nav-link" ><fa name="table"></fa>Data</span>
      </li>
     
    </ul>
  </div>
</nav>