<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Inherent Score</th>
          <th>Residual Score</th>
          <th>Department</th>
          <th>Group/Team</th>
          <th>Number of Controls</th>
          <th>Original Scores</th>
          <th>Business Contact</th>
          <th>User Entered</th>
          <th>Issue Count</th>
          <th>Description</th>
          <th>Business Containter</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datapoint of pagedItems">
          <td>{{datapoint.name}}</td>
          <td>{{datapoint.inherent_score}}</td>
          <td>{{datapoint.residual_score}}</td>
          <td>{{datapoint.department}}</td>
          <td>{{datapoint.grup_team}}</td>
          <td>{{datapoint.control_count}}</td>
          <td>{{datapoint.origin_score}}</td>
          <td>{{datapoint.businness_contact}}</td>
          <td>{{datapoint.user_entered}}</td>
          <td>{{datapoint.issue_count}}</td>
          <td>{{datapoint.risk_description}}</td>
          <td>{{datapoint.biz_container}}</td>

        </tr>
      </tbody>
 
    </table>

  </div>
</div>
     <!-- pager -->
     <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
      <li  class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li  class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li  class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a  class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li  class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a  class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li  class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a  class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
  </ul>
